<div class="container">
  <!-- <h2>Project Manager</h2>
  <button type="button" class="btn btn-primary">Add Project</button>
  <button type="button" class="btn btn-primary">Add Task</button>
  <button type="button" class="btn btn-primary">Add User</button>
  <button type="button" class="btn btn-primary">View Task</button>
  -->
     <li class="list-group-item">
	 <input type="text" class="form-control" [(ngModel)]="inputtext" (click)="clickAction"/>
	 </li>
<button type="button" class="btn btn-primary" (click)="addMore()">Add Task</button> 
<li class="list-group-item">
	 {{inputtext}}
	 
</li>	

<li class="list-group-item">
	 {{sample}}
	 
</li>
<li class="list-group-item" *ngFor="let smpl of smpls">{{smpl}}</li>
<br>
<button (click)="getTask()">Fetch Task</button>
<br>
<br>
<table border="1" cellpadding="10 px">
<tbody>
<tr>
<th>task_id</th>
<th>parent_id</th>
<th>project_id</th>
<th>task</th>
<th>priority</th>
<th>status</th>
</tr>
<tr *ngFor="let t of data">
<td>{{t.task_id}}</td>
<td>{{t.parent_id}}</td>
<td>{{t.project_id}}</td>
<td>{{t.task_id}}</td>
<td>{{t.priority}}</td>
<td>{{t.status}}</td>
</tr>
</tbody>
</table>
</div>
